body {
    font-family: Arial, sans-serif;
    background-color: beige;
  }
  h1{
    text-align: center;
  }
  .section {
    border: 1px solid black;
    
    background-color: aquamarine;
    box-sizing: border-box;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .title-region {
    position: relative;
    background-color: rgb(202, 145, 255);
    margin-left:260px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid black;
  }
  
  p {
    padding: 10px;
  }
  
  /* Desktop view */
  @media only screen and (min-width: 992px) {
    .section {
      width: 33.33%;
      float: left;
    }
  }
  
  /* Tablet view */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section {
      width: 50%;
      float: left;
    }
    .section:nth-child(3) {
      width: 100%;
      clear: both;
    }
  }
  
  /* Mobile view */
  @media only screen and (max-width: 767px) {
    .section {
      width: 100%;
    }
  }
  